In [ ]:
# 파이썬 데이터베이스 연동(SQLite)
# SQLite : 비교적 가벼운 DB 관리 시스템

# 테이블 생성 및 삽입

In [1]:
import sqlite3

In [3]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.30.0

In [4]:
import datetime

In [7]:
# 삽입 날짜 생성
now = datetime.datetime.now()
print(now)

nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

2019-12-14 22:41:52.760787
2019-12-14 22:41:52

In [ ]:
# SQLiteDatabaseBrowserPortable_3.10.1_English.paf 설치

In [8]:
# DB 생성 & Auto Commit/Rollback
conn = sqlite3.connect('C:/study/git/py_web/PYTHON_BASIC/resource/database.db', isolation_level = None)

In [9]:
# Cursor
c = conn.cursor()
print(type(c))

<class 'sqlite3.Cursor'>

In [15]:
# 테이블 생성
# Data type : TEXT, NUMERIC, INTEGER, REAL BLOB
# id INTEGER PRIMARY KEY
# username text
# email text
# phone text
# website text
# regdate text
c.execute("CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, phone text, website text, regdate text)")

In [16]:
# 데이터 삽입
c.execute("INSERT INTO users VALUES(1, 'Kim', 'Kim@naver.com', '010-000-0000', 'Kim.com', ?)", (nowDatetime, ))

In [17]:
c.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?, ?, ?, ?, ?, ?)", (2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', nowDatetime))

In [18]:
# Many 삽입
# 튜플, 리스트
userList = (
    (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', nowDatetime), 
    (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', nowDatetime), 
    (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', nowDatetime)
)

c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?, ?, ?, ?, ?, ?)", userList)

In [14]:
# 테이블 데이터 삭제
# conn.execute("DELETE FROM users")
# print('users db deleted : ', conn.execute("DELETE FROM users").rowcount)

users db deleted :  5

In [ ]:
# 커밋
# isloation_level = None인 경우 자동 반영(오토 커밋)
# conn.commit()

# 롤백
# conn.rollback()

In [19]:
# 접속 해제
conn.close()