In [ ]:
# 테이블 조회

In [1]:
import sqlite3

In [11]:
# DB 파일 조회(없으면 새로 생성)
conn = sqlite3.connect('C:/study/git/py_web/PYTHON_BASIC/resource/database.db')

# 커서 바인딩
c = conn.cursor()

# 데이터 조회(전체)
c.execute("SELECT * FROM users")

In [3]:
# 커서 위치가 변경
# 1개 로우 선택
# print('One -> \n', c.fetchone())

One ->
 (1, 'Kim', 'Kim@naver.com', '010-000-0000', 'Kim.com', '2019-12-14 22:41:52')

In [4]:
# 지정 로우 선택
# print('Three -> \n', c.fetchmany(size=3))

Three ->
 [(2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', '2019-12-14 22:41:52'), (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52'), (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')]

In [5]:
# print('All -> \n', c.fetchall())

All ->
 [(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')]

In [6]:
# print('All -> \n', c.fetchall())

All ->
 []

In [ ]:
# 커서가 이동하면서 다음 데이터의 위치를 기억

In [9]:
# 순회1
rows = c.fetchall()
for row in rows :
    print(row)

(1, 'Kim', 'Kim@naver.com', '010-000-0000', 'Kim.com', '2019-12-14 22:41:52')
(2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', '2019-12-14 22:41:52')
(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')
(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')

In [12]:
# 순회2
for row in c.fetchall() :
    print(row)

(1, 'Kim', 'Kim@naver.com', '010-000-0000', 'Kim.com', '2019-12-14 22:41:52')
(2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', '2019-12-14 22:41:52')
(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')
(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')

In [15]:
# 순회3
for row in c.execute("SELECT * FROM users ORDER BY id desc") :
    print(row)

(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')
(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52')
(2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', '2019-12-14 22:41:52')
(1, 'Kim', 'Kim@naver.com', '010-000-0000', 'Kim.com', '2019-12-14 22:41:52')

In [ ]:
# WHERE

In [17]:
# retrieve1 (튜플 바인딩)
param1 = (3, )
c.execute("SELECT * FROM users WHERE id = ?", param1)
print(c.fetchone())
print(c.fetchall()) # 데이터 없음

(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52')
[]

In [18]:
# retrieve2 (정수형으로 바인딩)
param2 = 4
c.execute("SELECT * FROM users WHERE id = '%s'" % param2)
print(c.fetchone())
print(c.fetchall())

(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')
[]

In [19]:
# retrieve3 (딕셔너리)
c.execute("SELECT * FROM users WHERE id =:Id", {"Id" : 5})
print(c.fetchone())
print(c.fetchall())

(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')
[]

In [20]:
# retrieve4
param4 = (3, 5)
c.execute("SELECT * FROM users WHERE id IN(?, ?)", param4)
print(c.fetchall())

[(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52'), (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')]

In [22]:
# retrieve5
c.execute("SELECT * FROM users WHERE id IN('%d', '%d')"% (3, 4))
print(c.fetchall())

[(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2019-12-14 22:41:52'), (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2019-12-14 22:41:52')]

In [23]:
# retrieve6
c.execute("SELECT * FROM users WHERE id=:id1 OR id =:id2", {"id1" : 2, "id2" : 5})
print(c.fetchall())

[(2, 'Park', 'Park@daum.net', '010-1111-1111', 'Park.com', '2019-12-14 22:41:52'), (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2019-12-14 22:41:52')]

In [24]:
# dump 출력
with conn :
    with open('C:/study/git/py_web/PYTHON_BASIC/resource/dump.sql', 'w') as f :
        for line in conn.iterdump() :
            f.write('%s\n' % line)
        print('Dump Print Complete')

Dump Print Complete